Start of the project
Your website needs a homepage, team page (about you and your partner with a link to linkedin), an about page that describes that this is an assignment for the course, it needs a page for each video in the unit and all of the pages need to be linked to the main menu. 
You need to write the text for each page in word, which is approx 1-2 pages double spaced for each video.  
You can use bullet points and photos or create a create a timeline graphic, it doesn't need to be all text. 
Your need to use Bootstrap and can use the code from class that is here to start:
